*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

.img-fluid{
    width:100% ;
    height: 120vh !important;
    min-height:300px !important ;
    padding-bottom: 50px;

} 

Carousel.Caption ,p{
    color: black;
    padding-bottom: 20px;
    
}
Carousel.Caption ,h3{
    color: black !important;

}
.map{
    border-radius: 10px;
    width:100% ;
    height:100%;
}
form{

    background-color: rgb(243, 249, 249);
    border-radius: 10px;
  height: 100%;
    width: 100%;
    
}
.card-body{
    margin-bottom: 20;
}
